.container {
    padding: 30px;
    position: inherit;
    background-image: linear-gradient(to bottom right, red, yellow);
    display: flex;
    flex-wrap:wrap;
}

.container > div {
    background-color: rgb(135, 144, 140);
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    border-color: black;
    display: blocks;
    margin: auto;
}
