.container {
  padding: 30px;
  position: inherit;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}

.container > div {
  background-image: radial-gradient(circle, #eeaeca, #94bbe9);
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  border-color: black;
  display: blocks;
  margin: auto;
  opacity: 20em;
  border-color: black;
  border: 20px 20px;
}

.btn-b {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #092144;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(57, 57, 57);
}
.btn-b:hover {
  background-color: #42aafe;
}

.btn-b:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.but-p {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
  position: absolute;
}
body,
html {
  background-image: linear-gradient(to bottom right, #114357, #f29492);
  background-position: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
